<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Feed</title>
    <style>
        body {
            margin: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        .Form {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            margin: 15px;
        }
    </style>
</head>
<body>
<h1>(TEST) Feed Display Form</h1>
<table>
    <tr>
        <th>
            Feed ID:
        </th>
         <th>
            Feed Name:
        </th>
         <th>
            Provider ID:
        </th>
         <th>
            DAI:
        </th>
         <th>
             Alternate<br>Content:
        </th>
         <th>
            Alternate <br>Content<br> Version:
        </th>
         <th>
            224 Feed:
        </th>
         <th>
            Notification<br> Buffer:
        </th>
    </tr>
    {% for feed in table_data %}
    <tr>
        <td>
            {{feed[0]}}
        </td>
        <td>
            {{feed[1]}}
        </td>
         <td style="text-align:center">
            {{feed[2]}}
        </td>
         <td style="text-align:center">
            {{feed[3]}}
        </td>
         <td style="text-align:center">
            {{feed[4]}}
        </td>
         <td style="text-align:center">
            {{feed[5]}}
        </td>
         <td style="text-align:center">
            {{feed[6]}}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>