<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>
    <style>
        body {
            margin: 100px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
  <h1>ERROR: Duplicate Primary Key Entered</h1>
  <h3>The Feed ID entered already exists, please try again</h3>
  <br><button type="button" class="Btn" onclick=location.href="{{url_for('main')}}">Go Back</button><br>
</body>
</html>